:root {
    --brand-color: #e87cac;
    --footer-color: rgb(218, 218, 218);
    --body-color: rgb(210, 210, 210);
}

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter&family=Protest+Strike&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*   Cart Image     */


@media only screen and (max-width: 1178px) {
    .deleteI {
        left: 0px;
        padding-bottom: 100px !important;
    }
}

@media screen and (max-width:365px) {
    .cart-products {
        width: 133% !important;
    }
}

@media only screen and (max-width:576px) {
    .orderRow:hover {
        width: 78vw;
        padding: 0px 100px 0px 100px;
        height: 100px;
        ;
    }

    .firstcol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .priceDetails
    {
        padding-left: 30px;
    }
}

@media only screen and (max-width:821px) {
    .firstcol
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



body,
html {
    scroll-behavior: smooth !important;
}

.cart-products {
    background-color: #f9f9f9;
}

.cart-products h1 {
    padding-top: 19px;
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
    background-image: linear-gradient(to top, #f2c6c6, var(--brand-color), #e5659e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;

}

.PrName {
    font-family: 'Gupter', serif;
    font-family: 'Protest Strike', sans-serif;
    font-size: 20px;
    margin: 12px 0px 0px 10px;
}


.Prprice {
    font-family: 'Gupter', serif;
    font-weight: bold;
    font-size: 20px;
}


.card-btn i {
    font-size: 25px;
    padding: 0px 14px 0px 4px;
    margin: 4px 8px 5px 0px;
    color: #ffffff;
}

.cart-products {
    width: 80%;
    height: 50%;
    margin: 1px auto;
}

.cart-products img {
    border-radius: 4%;
    width: 160px;
    height: 240px;
}

.cart-products .col-6 {
    padding: 15px 0px 0px 50px;
}

.prName {
    font-weight: 800;
    margin-bottom: 15px;
    width: 250px
}

.countDiv {
    padding-top: 10px;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


.count {
    border: 1px solid black;
    margin: 0px 8px 0px 8px;
    width: 60px;
    cursor: context-menu;
}

.add,
.delete {
    background-color: rgba(229, 20, 170, 0.2);
    border-radius: 50%;
    cursor: pointer;
    padding: 7px;
    width: 100%;
}

.countDiv button {
    width: 30px;
    background: initial;
}

.size {
    font-weight: 500;
    padding: 1px;
    margin-bottom: 12px;
}

.prPrice {
    font-weight: 500;
    padding: 1px;
}

.deleteI {
    margin-top: 10px;
    font-size: x-large;
    color: rgb(248, 114, 114);
    cursor: pointer;
}

.col-sm-4 {
    padding-top: 5px;
    border-left: #000 1px solid;
}

.deliverCharge,
.total,
.priceCart {
    display: flex;
    justify-content: space-between;
    font-family: 'Gupter', serif;

}

.total {
    font-size: larger;
    color: var(--brand-color);
    font-weight: 900;
}

.col-sm-4 span {
    margin-right: 30px;
}

.col-sm-4 h2 {
    font-family: 'Gupter', serif;
    font-weight: 900;
    font-weight: lighter;
}

.orderCol:first-child {
    width: 70%;
    padding: 0px 100px 0px 100px;
    height: 100px;
    background-color: #ffffff;
    z-index: 1;
    margin: 0px 10px 8px 19px;
    box-shadow: 0px 0px 5px 0px rgb(237, 194, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderBtn {
    width: 100px;
    height: 48px;
    padding: 0px 8px 0px 8px;
    color: var(--brand-color);
    background-color: white;
    border: 1px solid var(--brand-color);
    font-family: 'Gupter', serif;
    border-radius: 4px;
    font-size: 16;
    font-weight: bolder;
    transition: width 1s;

}

.firstcol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.orderRow{
    margin-bottom: 30px;
}

.productInfo {
    margin-left: 20px;
}

.orderBtn:hover {
    background-color: var(--brand-color);
    color: white;
    width: 400px;
}

.prPrice .cutPrice {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: smaller;
    color: rgb(173, 173, 173);
}

.offer {
    font-size: smaller;
    color: violet;
    margin-left: 10px;
}

.emptyMsg {
    text-align: center;
    font-size: 40px;
    font-family: 'Gupter', serif;
    font-weight: 900;
    color: rgb(173, 173, 173);

}